<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Hotel Listings Manager", hotel_listings_manager_path %></li>
    <li><%= link_to "Manage Bed Types", hotel_listings_manager_beds_path %></li>
    <li><%= link_to "Create New Bed Type", new_hotel_listings_manager_bed_path %></li>
  </ol>
</nav>
<h1>New Bed Type</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @bed, url: hotel_listings_manager_beds_path) do |form| %>
      <% if @bed.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bed.errors.count, "error") %> prohibited this bed from being saved:</h2>
          <ul>
          <% @bed.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
        <%= form.label :length %> (inches)
        <%= form.number_field :length, class: 'form-control' %>
        <%= form.label :width %> (inches)
        <%= form.number_field :width, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= form.submit "Create a Bed Type", class: "btn btn-primary" %>
        <%= link_to "Cancel", retrieve_last_page_or_default(default_path: hotel_listings_manager_beds_path), class: "btn", data: { turbo_confirm: "You sure?"}%>
      </div>
    <% end %>
  </div>
</div>