<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Hotel Listings Manager", hotel_listings_manager_path %></li>
    <li><%= link_to "Manage Rooms", hotel_listings_manager_rooms_path %></li>
    <li><%= link_to "Manage Room Number",  hotel_listings_manager_room_manage_room_numbers_path %></li>
    <li><%= link_to "Edit Room Number",  edit_hotel_listings_manager_room_manage_room_number_path %></li>
  </ol>
</nav>
<h1>Edit Room Number</h1>>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form", room_number: @room_number %>
  </div>
</div>

