<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item"><%= link_to "Hotel Listings Manager", hotel_listings_manager_path %></li>
  <li><%= link_to "Manage Bookings", hotel_listings_manager_bookings_path %></li>
</ol>
</nav>
<h1>Manage All Bookings</h1>
<%= link_to "Create a new Booking", new_hotel_listings_manager_booking_path, class: "btn btn-success" %>
<% if @reservations.length == 0 %>
  <br><br><i>The Reservation database is empty.</i>
<% else %>
  <%= will_paginate @reservations %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Guest First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Check In Date</th>
      <th scope="col">Check Out Date</th>
      <th colspan="2" scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ul>
      <% @reservations.each_with_index do |reservation, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= reservation.guest_firstname %></td>
          <td><%= reservation.guest_lastname %></td>
          <td><%= reservation.guest_phone %></td>
          <td><%= reservation.guest_email %></td>
          <td><%= reservation.check_in_date %></td>
          <td><%= reservation.check_out_date %></td>
          <td><%= link_to 'Update', edit_hotel_listings_manager_booking_path(reservation.id), class: "btn btn-primary btn-sm" %></td>
          <td><%= button_to "Cancel Reservation", hotel_listings_manager_booking_path(reservation), method: :delete, data: { confirm: "Are you sure you want to cancel this reservation?" }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </ul>
  </tbody>
  </table>
  <%= will_paginate @reservations %>
<% end %>
