<%= form_with(model: @amenity, url: hotel_listings_manager_amenity_path(@amenity), method: :patch) do |form| %>
  <% if amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>
      <ul>
      <% amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= form.label :image, 'Current Image:' %><br>
    <%= image_tag(@amenity.photo.link, alt: @amenity.photo.link, height: 300) %>
    <%= form.file_field :image %>
  </div>
  <div class="actions">
    <%= form.submit "Update Amenity", class: "btn btn-primary" %>
    <%= link_to "Cancel", retrieve_last_page_or_default(default_path: hotel_listings_manager_amenities_path), class: "btn", data: { turbo_confirm: "You sure?"}%>
  </div>
<% end %>