<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Hotel Listings Manager", hotel_listings_manager_path %></li>
    <li><%= link_to "Manage Amenities", hotel_listings_manager_amenities_path %></li>
    <li><%= link_to "Add a new Amenity", new_hotel_listings_manager_amenity_path %></li>
  </ol>
</nav>
<h1>Add a new Amenity</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @amenity, url: hotel_listings_manager_amenities_path, multipart: true) do |form| %>
      <% if @amenity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>
          <ul>
          <% @amenity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
        <%= form.label 'Upload image:' %><br>
        <%= form.file_field :image %>
      </div>
      <div class="actions">
        <%= form.submit "Create amenity", class: "btn btn-primary" %>
        <%= link_to "Cancel", retrieve_last_page_or_default(default_path: hotel_listings_manager_amenities_path), class: "btn", data: { turbo_confirm: "You sure?"}%>
      </div>
    <% end %>
  </div>
</div>