<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Hotel Listings Manager", hotel_listings_manager_path %></li>
    <li><%= link_to "Manage Rooms", hotel_listings_manager_rooms_path %></li>
  </ol>
</nav>
<h1>Manage Rooms</h1>
<%= link_to "Create a new Room", new_hotel_listings_manager_room_path, class: "btn btn-success" %>
<% if @rooms.length == 0 %>
  <br><br><i>The Room database is empty.</i>
<% else %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Name</th>
      <th scope="col">Location</th>
      <th scope="col">Category</th>
      <th scope="col">Max Guests</th>
      <th scope="col">Bedroom Count</th>
      <th scope="col">Price</th>
      <th scope="col">Room Numbers</th>
      <th colspan="2" scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ul>
      <% @rooms.each_with_index do |room, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= room.name %></td>
          <td><%= room.location.name %></td>
          <td><%= room.category.name %></td>
          <td><%= room.max_guests %></td>
          <td><%= room.bedroom_count %></td>
          <td><%= room.price %></td>
          <td><%= link_to 'Manage Room Numbers', hotel_listings_manager_room_manage_room_numbers_path(room_id: room.id), class: "btn btn-info btn-sm" %></td>
          <td><%= link_to 'Update', edit_hotel_listings_manager_room_path(room.id), class: "btn btn-primary btn-sm" %></td>
          <td><%= button_to "Delete", hotel_listings_manager_room_path(room), method: :delete, data: { confirm: "Are you sure you want to delete this room?" }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </ul>

  </tbody>
  </table>
  <%= will_paginate @rooms %>
<% end %>