<h1>Locations</h1>
<ul>
  <% @locations.each do |location| %>
  <li>
    <% if location.photo %>
      <%= image_tag(location.photo.link, alt: 'logo', style: "height: 100px; width: 100px;") %><br>
    <% end %>
    <%= location.name %><br>
    <%= location.city %><br>
    <%= location.country %><br>
    <%= location.address %><br><br><br>
  </li>
<% end %>
</ul>